<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery/3.2.1/jquery.min.js}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Reset password</title>
</head>
<body>
	<div id="header" th:replace="~{header :: header}"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Reset password</h1>
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully reset password!</div>
				</div>
				<form th:action="@{/resetPassword}" th:object="${user}" th:method="put">

					<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('oldPassword')}? 'has-error':''">
						<label for="oldPassword" class="control-label">Old password</label>
						<input id="oldPassword" class="form-control" th:field="*{oldPassword}" required/>
						<p class="error-message"
							th:each="error : ${#fields.errors('password')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
						<label for="password" class="control-label">New password</label>
						<input id="password" class="form-control" th:field="*{password}" required/>
						<p class="error-message"
							th:each="error : ${#fields.errors('password')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
						<label for="confirmPassword" class="control-label">Confirm new password</label>
						<input id="confirmPassword" class="form-control" th:field="*{confirmPassword}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('confirmPassword')}"
							th:text="${error}">Validation error</p>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>